{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}

<div class="container py-5">
    <h2 class="mb-4">Add Your Task</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="task-title" required>
        </div>
        <div class="mb-4">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" name="desc" id="desc" aria-describedby="task-desc">
        </div>
        <button type="submit" class="btn btn-dark">Add Task</button>
    </form>
</div>

<div class="container">
    <h2 class="mb-4">Your Tasks</h2>

    {% if allTodo|length == 0 %}
    <div class="alert alert-dark" role="alert">
        No tasks to display. Add a new task to your tasket.
    </div>
    {% else %}
    {% for todo in allTodo %}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date Created</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a href="/complete/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-2"><i
                            class="bi bi-check2 me-2"></i>Complete</a>
                    <a href="/edit/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-2"><i
                            class="bi bi-pencil me-2"></i>Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}
</div>

{% endblock body %}